<!DOCTYPE html>
<html>
<head>
  <title>Apply.io</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
</script>
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Apply.io</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", college_index_path, :class => 'brand'%></li>
        <li><%= link_to "Profile", edit_user_path(:id) %></li>
        <li><%= link_to "Logout", root_path%></li>
      </ul>
    </div>
  </div>
</nav>
  </div>
<%= yield %>

</body>
</html>